body {
  font-family: Arial;
  margin: 0;
  text-align: center;
  background: #f4f7fa;
}

header {
  background: #1f4e79;
  color: white;
  padding: 15px;
}

.hero {
  padding: 60px;
}

.btn {
  padding: 10px 20px;
  background: #1cc88a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.card {
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
